@mixin rubik-font($weight, $size, $l-height) {
  font-family: "Rubik", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $l-height;
}

@mixin big-john-font($weight, $size, $l-height) {
  font-family: big-john;
  font-weight: $weight;
  font-size: $size;
  line-height: $l-height;
}

@mixin line-clamp($line-no) {
  display: -webkit-box;
  -webkit-line-clamp: $line-no;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
