$primary-color: #e31b17;
$secondary-color: #d7d7d7;
$secondary-light-color: #ddd;
$secondary-dark-color: #999999;
$white: #eff1ed;
$black: #210f04;
$green: #36a47c;
$dark-green: #20634a;

$vvsm-font: 1.4rem;
$vsm-font: 1.6rem;
$sm-font: 1.8rem;
$md-font: 2rem;
$lg-font: 3.6rem;
$xlg-font: 4rem;
